<div class="container-fluid mainContainer">
    <div class="row">
        <div class="col-sm-8">
            <ul class="list-group">
                <li class="list-group-item active">My Current History</li>
                <li class="list-group-item" *ngIf="!myHistory.length">No history found</li>
              </ul>
              <br>
            <div  class= "card-columns">
                    <div class="card bg-light" *ngFor="let item of myHistory">
                      <div class="card-body text-center">
                        <p class="card-text">{{item.itemName}}</p>
                        <p class="card-text"> Price : {{item.price}}</p>
                      </div>
                    </div>
                <!-- <app-item-card *ngFor="let item of myHistory" [item] = item (selectedItemEvent)="addItToTheCart($event)" [type]="history"></app-item-card> -->
            </div>
            <br>
            <button class="btn btn-outline-primary" (click)="goBack();">Go Back</button>
        </div>    
    </div>    
</div>    